@use '../variables';

.container {
	width: 250px;
	height: 100vh;

	background-color: variables.$primary-color;

	display: flex;
	flex-direction: column;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	color: #fff;

	position: absolute;

	grid-area: 'drawer';
	
	.top {
		display: flex;
		justify-content: flex-end;
	}

	.toggle {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 10px;

		.toggleIcon {
			height: 5px;
		}
	}

	.list {
		list-style: none;

		font-size: 18px;

		padding-top: 80px;

		.listItem {
			width: 100%;
			display: flex;
			justify-content: center;

			padding: 15px 10px;

			cursor: pointer;

			transition: 0.3s;

			padding-right: 30px;
		}

		.listItem:hover {
			background-color: variables.$primary-color-hover;
		}
	}

	.bottom {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;

		flex: 1;
	}

	.help {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 10px;

		font-size: 20px;

		cursor: pointer;

		transition: 0.3s;

		.icon {
			margin-right: 10px;
		}
	}

	.help:hover {
		background-color: variables.$primary-color-hover;
	}
}
